/* Fonts */

@font-face {
    font-family: 'PTSansRegular';
    src: url('fonts/PTS55F-webfont.eot');
    src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS55F-webfont.woff') format('woff'),
         url('fonts/PTS55F-webfont.ttf') format('truetype'),
         url('fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('fonts/PTS56F-webfont.eot');
    src: url('fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS56F-webfont.woff') format('woff'),
         url('fonts/PTS56F-webfont.ttf') format('truetype'),
         url('fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('fonts/TitilliumText22L003-webfont.eot');
    src: url('fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/Chunkfive-webfont.eot');
    src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Chunkfive-webfont.woff') format('woff'),
         url('fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BitstreamVeraSansRoman';
    src: url('fonts/Vera-webfont.eot');
    src: url('fonts/Vera-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Vera-webfont.woff') format('woff'),
         url('fonts/Vera-webfont.ttf') format('truetype'),
         url('fonts/Vera-webfont.svg#BitstreamVeraSansRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BitstreamVeraSansBoldOblique';
    src: url('fonts/Vera-Bold-Italic-webfont.eot');
    src: url('fonts/Vera-Bold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Vera-Bold-Italic-webfont.woff') format('woff'),
         url('fonts/Vera-Bold-Italic-webfont.ttf') format('truetype'),
         url('fonts/Vera-Bold-Italic-webfont.svg#BitstreamVeraSansBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*-------------------------------------------------------------------------------------------*/
/* RESET */
/*-------------------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ | v1.0 | 20080212 */

body, html  { height: 100%; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	word-wrap:break-word;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }/* remember to define focus styles! */
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }/* tables still need 'cellspacing="0"' in the markup */

/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* Floating & Alignment */
.fl{float: left;}
.fr{float: right;}
.ac{text-align: center;}
.ar{text-align: right;}

/* Clear Floats */
.col-full:after{content: "."; display: block;height: 0;clear: both; visibility: hidden;}

.fix{clear: both;height: 1px;margin: -1px 0 0;overflow: hidden;}

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}/* http://sonspring.com/journal/clearing-floats */

body{ background:#cbcaca url(images/kawfee/page_bg.png) repeat; color:#000; line-height:16px; font:14px/16px 'BitstreamVeraSansRoman', Verdana, Geneva, sans-serif; word-wrap:break-word; }

a,a:visited,a:focus{ color:#000; text-decoration:none; }
a:hover{ text-decoration:underline; }

/* Defaults */
h1, h2, h3, h4, h5, h6{ font-family:'PTSansItalic', Georgia, "Times New Roman", Times, serif; font-weight:normal; }
h1{font-size:30px;line-height:30px;} h2{font-size:24px;line-height:24px;} h3{font-size:20px;line-height:20px;} h4{font-size:18px;line-height:18px;} h5{font-size:14px;line-height:14px;} h6{font-size:12px;line-height:12px;}

input, select, textarea{font-size:12px; color:#7a7a7a;}
input[type=text], input[type=password], select, textarea{padding:5px; border:3px solid #c5c5c5;}
textarea{overflow:auto;}

/* Hyperlinks */

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited{ text-decoration:none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{text-decoration:underline;}

.sticky{}
.gallery-caption{}
.bypostauthor{}

/* General settings */
#wrapper_one{ margin:0 auto; width:100%; overflow: auto; padding:0;}
#wrapper_two{ margin:0 auto; width:100%; overflow: auto; padding:0;}

#wrapper_four{ margin:0 auto; width:100%; overflow: auto; padding:0;}


#top_menu {
	width:960px;
	height:75px;
	margin:0 40px 0 0;
}
#top_menu_left {
	float:right;
	height:60px;
	width:10px;
}
#top_menu_middle {
	float:right;
	overflow:auto;
}
#top_menu_right {
	float:right;
	width:9px;
}
#rss {
	float:right;
	overflow:auto;
}
#rss p{
	margin:5px 0 0 5px;
	padding:7px 0 0 0;	
}





.logo_title {
	font:48px/48px 'ChunkFiveRegular', Georgia, "Times New Roman", Times, serif;
	margin:10px 0 0 20px;
}
.logo_title a{
	color:#ffffff;
	margin:0;
}
.logo_title a:hover{
	text-decoration:none;
}
.logo_desc {
	font:14px 'BitstreamVeraSansBoldOblique', Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	margin:0 0 0 40px;
}
.logo_desc a{
	color:#000;
}
.logo_desc a:hover{
	text-decoration:none;
}

#header_ad p{
	margin:0;
	height:70px;
}
#header_ad p a{
	overflow:auto;
}
#header_ad p a img{
	border:0;
}


/*menu*/
#menu_section {
	width:94%;
	margin:3% 3% 0 3%;

}

#menu{
	float:left;
	width:94%;
	font:13px 'TitilliumText22LRegular', Verdana, Geneva, sans-serif;
	position:relative;
	z-index:999;
	padding:10px 0 15px 0;
	margin:0 3% 0 3%;
	background:#444343;	
	border-top:2px solid #3e3d3d;
}
.current-menu-item, .current_page_item {
	Background:#000 !important;	
}

#menu select {
	width:80%;
	margin:10px auto;
	background:none;
	border:1px solid #000;
	color:#fff;
}

#inner_content_section {
	width:94%;
	overflow:hidden;		
	background:#ffffff;	
	margin:0 3% 0 3%;
}
#featured_section {
	width:100%;
	background:url(images/blaze/featured_slider_nav_bg.png) repeat-x top;
	height:350px;
}

#sidebar_search_social {
	width:100%;
	padding:10px 0 20px 0;
	background:#F6F6F6;	
	overflow:auto;
	margin:0 0 15px 0;
}

#social_section {
	width:85.294117647058823529%;
	overflow:hidden;
	margin:0 auto;
}
#social_section ul {
	width:100%;
	margin:0;
	padding:0;
}
#social_section ul li{
	float:left;
	margin:5px 0 0 0;
	padding:0;
}

.header_social_icons ul {
	width:100%;
	margin:0;
	padding:0;
}
.header_social_icons ul li{
	float:right;
	margin:5px 5px 0 0;
	padding:0;
}

.seach_section {
	width:100%;
	overflow:auto;
}




.widget .seach_section {
	width:100%;
	overflow:auto;
	margin:10px 0;
}


#sidebar_facebook {
	width:94.117647058823529412%;
	margin:0 2.9411764705882352941%;
	background:url(images/sidebar_facebook.png) no-repeat center right;
	overflow:auto;
	border-bottom:1px solid #DBDADA;
	
}
#sidebar_facebook p {
	margin:5% 50px 5% 0;
	text-align:right;
}
#sidebar_facebook p a{
	font:18px/18px 'TitilliumText22LRegular', Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#000;
}
#sidebar_twitter {
	width:94.117647058823529412%;
	margin:0 2.9411764705882352941%;
	background:url(images/sidebar_twitter.png) no-repeat center right;
	overflow:auto;
	border-bottom:1px solid #DBDADA;	
}
#sidebar_twitter_updates {
	width:100%;	
}
#sidebar_twitter p {
	margin:5% 50px 5% 0;
	text-align:right;
}
#sidebar_twitter p a{
	font:18px/18px 'TitilliumText22LRegular', Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	color:#000;
}
#twitter_update_list_1985 {
	width:82.352941176470588235%;
	padding:8.8235294117647058824%;
}
#twitter_update_list_1985 p{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
	font:16px/18px 'TitilliumText22LRegular', Georgia, "Times New Roman", Times, serif;
	line-height:15px;
	color:#939493;	
}
#twitter_update_list_1985 p.twittime{
	width:100%;
	overflow:hidden;
	margin:0 0 3.5714285714285714286% 0;
	padding:0;		
}
#twitter_update_list_1985 p a{
	font:16px/18px 'TitilliumText22LRegular', Georgia, "Times New Roman", Times, serif;
	color:#939493;
}
#twitter_update_list_1985 p a.twittertime {
	float:left;
	color:#d3262a;
	text-decoration:none;
}
#twitter_update_list_1985 p a.twittertime span{
	color:#6DCFF6;
	text-decoration:none;	
}
#facebook_updates {
	width:292px;
	padding:10px 0;
	margin:0 auto;
}
#sidebar {
	width:100%;
	background:#F6F6F6;
	overflow:auto;
	margin:0;
	padding:15px 0 10px 0;	
}

/* pro */
.post-ratings img{
	margin:2px 2px 2px 0;
}
.actual_post {
	width:100%;
	margin:0;
}
.ta_meta_container {
	width:100%;
	background:#D8D7D7;
	border-bottom:dashed 5px #f6f6f6;
	padding:5px 0 15px 0;
}

.actual_post_title {
	width:94.594594594594594595%;
	padding:10px 0;	
	margin:0 0 0 2.7027027027027027027%;		
}
.actual_post_title_page {
	width:94.594594594594594595%;
	padding:10px 0;	
	margin:0 0 0 2.7027027027027027027%;
}
.actual_post_title_page h2{
	color:#000;
	line-height:36px;
	margin:0 0 5px 0;
	font-size:36px;

}
.actual_post_title h2{
	color:#000;
	line-height:36px;
	margin:0 0 5px 0;
	font-size:36px;

}
.actual_post_title h2 a{
	color:#000;
}
.actual_post_title h2 a:visited{
	color:#000;
}
.actual_post_author {
	width:94.594594594594594595%;
	border:1px solid #cbcbcb;
	border-right:0;
	border-left:0;
	overflow:auto;
	margin:0 0 0 2.7027027027027027027%;	
}
.actual_post_ratings {
	width:94.594594594594594595%;
	border:1px solid #cbcbcb;
	border-right:0;
	border-left:0;
	border-bottom:0;	
	overflow:auto;
	padding:2px 0;
	margin:0 0 0 2.7027027027027027027%;
}
.actual_post_author .actual_post_posted{
	float:left;
	width:80%;
	overflow:hidden;
	margin: 5px 0.952380952380952381% 5px 0.019047601904760190476%;
}
.actual_post_author .actual_post_posted span{
	margin:0 1.1904761904761904762%;
}
.actual_post_comments {
	float:left;
	color:#000;
	margin: 4px 0 0 3.8095238095238095238%;
	font-style:italic;	
}
.metadata{
	width:94.594594594594594595%;
	font-size:11px;
	padding:6px 0 10px;
	margin:6px 0 -5px 2.7027027027027027027%;
	border-bottom:1px solid #cbcbcb;
}
.metadata .bot{
	height:4px;
	margin:6px 0 0;
	border-bottom:1px solid #cbcbcb;
}
.metadata p{
	line-height:normal;
	overflow:hidden;
	width:100%;
}
.metadata a{
}
.metadata .label{
	float:left;
	width:14.285714285714285714%;
	text-align:right;
	font-weight:bold;
	color:#9e0b0e;
	padding:0 1.5238095238095238095% 0 0;
}
.metadata .text{
	float:left;
	line-height:normal;
	width:78.095238095238095238%;
}
.bookmark_button_container {
	width:94.594594594594594595%;
	font-size:11px;
	padding:6px 0 10px;
	margin:6px 2.7027027027027027027% -5px 2.7027027027027027027%;
	border-bottom:1px solid #cbcbcb;
	min-height:75px;
}

.postmetadata{
	border:1px solid #cbcbcb;
	font-size:12px;
	background:#e5e5e5;
	margin:16px 0 0 0;
}
.post_entry {
	width:94.594594594594594595%;
	overflow:auto;
	padding:20px 2.7027027027027027027%;
}
.post_ad {
	width:100%;
	overflow:auto;
	padding:10px 0;
	text-align:center;
}
.post_ad img{
	margin:5px auto;
}
.post_ad_single {
	width:100%;
	overflow:auto;
	padding:10px 0;
}
.post_ad_single img{
	margin:5px 0 5px 1.9047619047619047619%;
}
.post_ad_single_300 {
	width:100%;
	overflow:auto;
	padding:10px 0;
	text-align:left;
}
.post_ad_single_468 {
	width:100%;
	overflow:auto;
	padding:10px 0;
	text-align:center;
}
.post_ad_single_300 img{
	margin:5px 0 5px 1.9047619047619047619%;
}
.post_author_bio {
	width:100%;
	background: #D8D7D7;
    border-bottom: 5px dashed #f6f6f6;
	border-top: 5px dashed #f6f6f6;	
	padding:15px 0;	
	overflow:auto;	
	margin:5px 0;	
}
.post_author_bio_bio {
	float:left;
	width:92.792792792792792793%;
	margin:0 3.6036036036036036036%;
}
.post_author_bio_bio_pic {
	float:left;
	width:88px;
	height:88px;	
	margin:5px 2% 0 0;
}
.post_author_bio_bio_pic img{
	width:88px;
	height:88px;	
}
.post_author_bio_bio_desc {
}
.post_author_bio_bio_desc p{
	margin:0 0 5px 2%;
}
.post_author_pic {
	font:24px 'PTSansItalic';
}
.post_author_bio_social {
	float:left;
	width:96.396396396396396396%;
	margin:10px 0 10px 0.9009009009009009009%;
}
.authors_website {
	float:left;
	width:167px;
	height:30px;
	background:url(images/authors_website.png) no-repeat;
	margin:0 0 10px 10px;
}
.authors_website p{
	font:14px 'PTSansItalic';
	color:#050505;
	margin:5px 0 0 15px
}
.authors_twitter {
	float:left;	
	width:167px;
	height:30px;
	background:url(images/authors_twitter.png) no-repeat;
	margin:0 0 10px 10px;	
}
.authors_twitter p{
	font:14px 'PTSansItalic';
	color:#050505;
	margin:5px 0 0 45px;	
}
.authors_facebook {
	float:left;	
	width:167px;
	height:30px;
	background:url(images/authors_facebook.png) no-repeat;
	margin:0 0 10px 10px;		
}
.authors_facebook p{
	font:14px 'PTSansItalic';
	color:#050505;
	margin:5px 0 0 40px;
}
.single_newsletter {
	width:100%;
	padding:5px 0;	
	overflow:auto;	
	margin:5px 0;
}
.single_newsletter_heading {
	width:96.396396396396396396%;
	min-height:48px;
	padding:5px 0;	
	background:url(images/single_rss.png) right center no-repeat;
}
.single_newsletter_heading p{
	font: 30px 'TitilliumText22LRegular';
	color:#050505;
	margin:5px 55px 0 0;
	text-align:right;
}
.single_social_share {
	width:100%;
	background: #D8D7D7;
    border-bottom: 5px dashed #f6f6f6;
	border-top: 5px dashed #f6f6f6;
	padding:15px 0;	
	overflow:auto;	
	margin:5px 0;	
}
.single_social_share_buttons {
	width:78.378378378378378378%;
	margin:0 auto;
	overflow:auto;
}
.single_social_share_buttons p{
	float:left;
	width:57px;
	margin:0 2px;
	
}
.single_social_share_heading {
	width:92.792792792792792793%;
	background:#E6E6E6;
	margin:0 auto;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}
.single_social_share_heading p{
	font: 36px/36px 'TitilliumText22LRegular';
	color:#000;
	text-align:center;
	padding:5px 0 10px 0;
}
.single_np {
	width:100%;
	padding:5px 0;	
	overflow:auto;	

}

.single_np_prev p{
	text-align:left;
	margin:0 0 10px 50px;
}

.single_np_next p{
	text-align:right;
	margin:0 50px 10px 0;	
}
.single_np_prev_np {
	font:18px 'PTSansRegular';
	color:#d3262a;
	text-align:left;
	margin:0 0 0 50px !important;
}
.single_np_next_np {
	font:18px 'PTSansRegular';
	color:#d3262a;
	text-align:right;
	margin:0 50px 0 0 !important;
}
.single_related {
	width:100%;
	padding:5px 0;	
	overflow:auto;	
}
.single_related_title {
	width:100%;
	padding:5px 0;	
	background:#2F2F2F;
	border-top: 5px dashed #3c3c3c;
}
.single_related_title p{
	margin:0 0 0 4.5045045045045045045%;
	font: 36px 'TitilliumText22LRegular';
	color:#000;
}
.single_related_posts {
	width:100%;
	padding:5% 0;		
	background:#363636;
	border-bottom: 5px dashed #3C3C3C;	
}

.related_posts_single {
	overflow:auto;
}
.related_posts_single ol{
	width:90%;
	margin:0 auto;
	overflow:auto;
}
.related_posts_single ol li{
	float:left;
	width:100%;
	margin:5% 0;
}

.related_post_image img{
	max-width:100%;
}
	
.related_post_title {
	padding:0 0 4px 0;
}
.related_post_title a{
	color:#F26521;
	margin:0 0 7px 0;
	font:18px/18px 'PTSansRegular';
}
.no_comm_single {
	width:100%;
	padding:20px 0;
	text-align:center;		
}
.no_comm_single p{
	font:18px 'PTSansRegular';
	color:#d3262a;	
}


/* Full width page starts */
#main_content_section_full {
	float:left;
	width:94%;
	margin:3%;
	background:#f6f6f6;		
}

#main_content_section_search {
	float:left;
	width:94%;
	margin:3%;
	background:#f6f6f6;	
	padding:3% 0;		
}

#main_content_section_search_title {
	float:left;
	width:94%;
	margin:3% 3% 0 3%;
	background:#f6f6f6;	
	padding:3% 0;
}

.main_content_section_search_title {
	color:rgba(255,0,0,1);
}
.fouroh {
	overflow:auto;
	margin:10% 5%;
	width:90%;
	text-align:center;
}
.fouroh h2 {
	font:36px/36px 'ChunkFiveRegular';
	margin:15px auto;
	color:rgba(0,0,0,1);	
}
.fouroh p {
	font:18px/18px 'TitilliumText22LRegular';
	margin:15px auto;
	color:rgba(0,0,0,1);	
}
.fourohsearch {
	width:90%;
	margin:0 auto;
}

.ta_meta_container_full {
	width:100%;
	background:#D8D7D7;
	border-bottom:dashed 5px #f6f6f6;
	padding:5px 0 15px 0;
}

.actual_post_title_page_full {
	width:95.604395604395604396%;
	margin:0 0 0 2.1978021978021978022%;
}

.actual_post_title_page_full h2{
	color:#000;
	line-height:36px;
	margin:10px 0 10px 0;
	font-size:36px;

}

.post_entry_full {
	width:95.604395604395604396%;
	margin:0 0 0 2.1978021978021978022%;
	overflow:auto;
	padding:20px 0;
}
.post_ad_full {
	width:100%;
	overflow:auto;
	padding:10px 0;
	text-align:center;
}
.post_ad_full img{
	margin:5px auto;
}
.post_ad_single_full {
	width:100%;
	overflow:auto;
	padding:10px 0;
}
.post_ad_single_full img{
	margin:5px 0 5px 10px;
}
.post_ad_single_300_full {
	width:100%;
	overflow:auto;
	padding:10px 0;
	text-align:left;
}
.post_ad_single_300_full img{
	margin:5px 0 5px 10px;
}
/* Full width page ends */


/* entry */
.entry{
	width:100%;
	clear: both;
}
.entry a{
	text-decoration:underline;
}
.entry a:hover{
	text-decoration:none;
}
.entry p{
	margin:0 0 22px 0;
}
.entry h1{}  .entry h2{}  .entry h3{}  .entry h4{}  .entry h5{}  .entry h6{}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6{line-height:1.5em; margin: 0 0 15px 0; }

.entry ul{ margin: 0 0 20px 0; padding: 0 0 0 6%; }
.entry ul ul{ margin: 0; }
.entry ul li{	list-style-type: disc;  line-height: 1.5em;}
.entry ul ul li{ list-style-type: circle; }

.entry ol{ margin: 0 0 20px 0; padding: 0 0 0 6%; }
.entry ol ol{ margin: 0; }
.entry  ol li{ list-style-type: decimal;  line-height: 1.5em;}
.entry  ol li ol li{ list-style-type: lower-alpha; }

.entry .list_bookmarks{
	padding: 0;
}
.entry .list_bookmarks li.linkcat{
	list-style: none;
}
.entry .list_bookmarks li.linkcat li{
	list-style:disc;
}

.entry .more-link{
	height:25px;
	float:left;
	padding:0 12px 0 0;
	color:#fff;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
.entry .more-link span{
	color:#F26522;
	text-decoration: none;
	border-bottom: 1px solid #F26522;
	padding-bottom: 2px; 
}

img.wp-smiley{ padding: 0; border: none; }

.entry .wp-caption{ padding: 5px; text-align:center; max-width: 96%; background:#DBDADA;}
.entry .wp-caption img{ margin:0; padding:4px 0; background:none; border:0; max-width: 96%; }
.entry .wp-caption-text{ margin:0; padding:0; font-size:11px; text-align:center; }

.entry table{
	width: 100%;
	border: 1px solid #DBDADA;
	border-collapse: collapse;
	margin: 0 0 15px 0;
}
.entry table td, .entry table th{
	border: 1px solid #DBDADA;
	padding: 5px;
}
.entry table th{
	background: #DBDADA;
}

/* Begin Images */
p img{
	padding: 0;
	max-width: 100%;
}
img.centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright, img.alignright, a img.alignright {
	float:right;
	margin:10px 0px 10px 16px;
}
.alignleft, img.alignleft, a img.alignleft {
	float:left;
	margin:10px 16px 10px 0;
}
.aligncenter, img.aligncenter, a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

/* Various Tags & Classes */
.entry acronym, .entry abbr, .entry span.caps{
	cursor: help;
}
.entry acronym, .entry abbr{
	border-bottom: 1px dashed #dfcfba;
}
.entry blockquote{
	margin: 15px 0 28px 1%;
	padding:0 0 0 7px;
	border-left:13px solid #DBDADA;
}
.entry blockquote blockquote{
	margin: 10px 0 18px 1%;
	padding:0 0 0 7px;
	border-left:13px solid #6dcff6;
}
.entry blockquote cite{
	margin: 5px 0 0;
	display: block;
}
.center{
	text-align: center;
}
.hidden{
	display: none;
}
.nopost, .nocomments{
	text-align:center;
	padding: 20px 0 20px 0;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #DBDADA;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #DBDADA;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.last{
	margin-right:0 !important;
	clear:right;
}
.clear{
	clear: both;
	line-height: 0;
}
/* Respond */
#respond{
	margin:25px 0 50px 7.2072072072072072072%;
	overflow:hidden;
	width:90.09009009009009009%;
}
.commentlist #respond{
	margin:0 0 20px 0;
}
#respond h3{
	font-size:30px;
	width:100%;
	padding:0 0 20px;
	line-height:normal;
}
#reply-title small{
	display: block;
	padding: 5px 0 0 0;
	font-size: 14px;
	font-weight: normal;
}
#commentform p{
	width:100%;
	overflow:hidden;
	padding: 0 0 10px;
	margin: 0;
}
#commentform p a, #commentform p a{
	text-decoration:underline;
}
#commentform p a:hover{
	text-decoration:none;
}
#commentform p input{
	float:left;
}
#commentform p label{
	float:left;
	padding:10px 0 0 5px;
	margin:0 -20px 0 0;
}
#commentform .comment-form-comment label{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	display: none;
}
#commentform input[type=text]{
	width: 45%;
	margin: 5px 5px 1px 0;
}
#commentform{
	margin: 5px 0 0 0;
}
#commentform textarea{
	width: 80%;
	height:100px;
	overflow:auto;
	margin:5px 0 0 0;
}
#commentform #submit{
	background:#000;
	height:26px;
	border:0;
	font:13px Georgia, "Times New Roman", Times, serif;
	color:#fff;
	padding:1px 15px 5px 15px;
	cursor:pointer;
}
/* Comments*/
#comments{
	font-size:25px;
	width:90.09009009009009009%;
	font-style:italic;
	padding:0 0 20px;
	line-height:normal;
	margin:15px 0 0 7.2072072072072072072%;
}
.commentlist{
	width:90.09009009009009009%;
	margin:10% 0 10% 7.2072072072072072072%;
}
.commentlist li.comment{
	margin: 10% 0 3%;
	padding: 3% 3% 3% 5%;
	list-style: none;
	background:url(images/comments_bg.png) repeat;
	clear: both;
}
.commentlist li.trackback{
	margin: 3% 0 3%;
	padding: 3% 3% 3% 5%;
	list-style: none;
	background:url(images/comments_bg.png) repeat;
	clear: both;
}
.commentlist li.pingback{
	margin: 3% 0 3%;
	padding: 3% 3% 3% 5%;
	list-style: none;
	background:url(images/comments_bg.png) repeat;
	clear: both;
}
.commentlist li li{

}
.commentlist li li li{

}
.commentlist li li li li{

}
.commentlist .alt{
	margin: 10px 0 0 0;
}
.commentlist li ul{
	margin:0 -5px 0 5%;
}
.commentlist p{
	margin: -1% 1% 2% 0;
	font-size:12px;
	line-height:18px;
}
.commentlist .children{ padding: 0; }

.commentlist li.comment .entry{
	width: auto;
	clear: none;
	overflow: visible;
	padding: 1% 0 0 0;
}

.commentlist li.comment .entry li{
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
}
.commentlist li.comment .entry ul{
	padding: 0;
	margin: 0 0 3% 6%;
	background: none;
	border: 0;
}
.commentlist li.comment .entry ul ul{
	margin: 0 0 1% 6%;
}
.commentlist li.comment .entry ol ul{
	margin: 0 0 1% 6%;
}
.commentlist li.comment .entry ol{
	padding: 0;
	margin: 0 0 3% 7%;
	background: none;
	border: 0;
}
.commentlist li.comment .entry ol ol{
	margin: 0 0 3% 7%;
}
.commentlist li.comment .entry ul ol{
	margin: 0 0 1% 7%;
}

.nocomments{
	text-align: center;
	margin: 0;
	padding: 0;
}
.commentmetadata{
	margin: 0 0 3% 0;
	display: block;
}
.commentmetadata a{
	font-weight:bold;
}
.commentlist .reply{
	overflow:hidden;
	margin:2% -1% 0;
}
.commentlist .reply a{
	background:#000;
	padding:1% 5%;
	color:#fff;
	float:right;
}
.commentlist .reply a:hover{
	text-decoration:none;
	background:#333;
}
.comment-author{
	padding: 0 0 0.4% 0;
}
.comment-author img{
	border:3px solid #868686;
	float:left;
	margin:0 2% 2% 0;
}
.commentlist .fn{
	font:20px 'PTSansItalic', Georgia, "Times New Roman", Times, serif;
	color:#D3262A;
	margin:0;
	text-transform:capitalize;
}
.commentlist .fn a{
	color:#D3262A;

}
.commentlist .comment-author-admin .fn, .commentlist .comment-author-admin .fn a{
	color:#D3262A;
}
.commentlist .trackback .fn, .commentlist .pingback .fn{
	margin:0;
}
.commentlist .says{
	position:relative;
	font:13px Georgia, "Times New Roman", Times, serif;
}
.commentlist .avatar{
	position: relative;
	top: -15%;
	left: -2%;
}
.pagination2{
	margin: 0 0 0 8%;
}
.pagination2 span {
	color:#000;
	font-weight:bold;
}
.pagination2 a {
	color:#ED1C24;
	font-weight:bold;	
}
/* pagination */
.pagination{
	float:left;
	overflow:hidden;
	background:none;
	margin:30px 0 20px 2.7027027027027027027%;
	width:90%;
	padding:10px 5% 10px 0;
	text-align:right;
	border:1px solid #DBDADA;
}
.pagination span, .pagination a{
	border:0px !important;
	display:inline-block;
	height:27px;
	margin:0 1px 0 0;
	line-height:27px;
	padding:0 2px;
}
.pagination .pages{
	padding:0 8px;
	margin:0 5px 0 0;
	color:#fff;
	background:#363636;
}
.pagination a:hover, .pagination .current{
	text-decoration:none;
	color:#fff;
	background:#9E0B0E;
}
.pagination .al{
	float: left;
	padding: 0 0 0 10px;
}
.pagination .ar{
	float: right;
	padding: 0 3px 0 0;
}
.pagination .al a, .pagination .ar a{
	padding:0 5px;
}

/* Sidebar */

.sidebar_widget {
	width:88.23529411764706%;
	margin:2.941176470588235% 5.882352941176471%;
	overflow:auto;
}
.sidebar_widget_top {
	width:100%;
	height:10px;
	background:#dbdada;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.sidebar_widget_bottom {
	width:100%;
	height:10px;
	background:#e7e6e6;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.widget {
	width:100%;
	overflow:auto;
	background:#e7e6e6;
}
.widgettitle {
	width:93.33333333333333%;
	overflow:auto;
	background:#dbdada;
	font:24px 'TitilliumText22LRegular';
	padding:0 3.33333333333333% 3.33333333333333% 3.33333333333333%;
	color:#5F5F5F;
}
.widget ul {
	width:100%
	margin:1.666666666666667% 0 3.33333333333333% 0;
}
.widget ul li{
	width:81.666666666666667%;
	overflow:hidden;
	margin:0 6.666666666666667%;
	padding:3.33333333333333% 0 3.33333333333333% 5%;
	border-bottom:1px solid #DBDADA;
}
.widget ul li a{
}
.widget ul li a:visited{
}
.widget ul ul a{
	color:#60635E;
	font-size:11px;
}
.widget ul ul{
	width:95%;
	margin: 0 0 0 5%;
	padding:0;
}
.widget ul li ul li{
	padding: 1.304347826086957% 0 1.304347826086957% 4.347826086956522%;
	margin:0;
	border: 0;
	background:url(images/sidebar_widget_li_li_bg.png) no-repeat 0 10px;
}
.widget .last{
	background:none;
}
.textwidget{ padding: 5%; }
.textwidget p{ padding: 5%; color:#A39D9D; }
.widget_tag_cloud div, .widget_calendar div{ }
/* Calendar */
#wp-calendar{width:90%;margin-bottom:3.33333333333333%;margin-left:3.33333333333333%;clear:both;padding:0;}
#wp-calendar caption{padding:3.33333333333333%;font:bold 16px Georgia, "Times New Roman", Times, serif; color:#658B2D;}
#wp-calendar th,#wp-calendar td{text-align:center;padding:3px 0;color:#A39D9D;}
#wp-calendar td{background:transparent;}
#wp-calendar a{color:#658B2D;}
/* tag cloud */
.tagcloud {
	width:86.666666666666667%;
	margin:3.33333333333333% 6.666666666666667%;
}
.tagcloud a{
	color:#A39D9D;
}
.widget_poll li{
	border:0;
	background: none;
}
.widget_poll li a{
display: block;
color: #acadac;
margin: 10px 0 0 0;
text-decoration: underline;
}
.widget_poll li a:hover{
text-decoration: none;
}
.wp-polls {
	width:100%;
	margin:5% 0 0 0;	
	overflow:hidden;
	
}
.wp-polls ul li{
	background: none;
	margin:0 6.666666666666667%;
	padding:1.666666666666667% 0 1.666666666666667% 5%;
	color:#ACADAC;	
	border-bottom:0;
}
.wp-polls p strong{
	font: 16px/16px 'PTSansItalic'; Georgia, "Times New Roman", Times, serif; 
	color:#000;	
}
.wp-polls p a{
	font:14px/16px 'BitstreamVeraSansRoman', Verdana, Geneva, sans-serif;		
	color:#000;	

}
.wp-polls ul li label{
	margin:0 0 0 7px;
}
.wp-polls .Buttons {
	width:40%;
	height:10%;
	background:#000 !important;
	border:0 !important;
	font: 18px 'PTSansItalic', Georgia, "Times New Roman", Times, serif; 	
	margin:0 0 7px 0;	
}
/* pro */
/* Sidebar */


#footer_section .footerp{
	margin:10px 5% 10px 5%;
	color:#ffffff;
	width:90%;
}
#footer_section .footerp a{
	font-weight:bold;
	color:#C6C5C4;
}
#footer_section .footercredit {
	margin:0 5% 10px 5%;
	color:#ffffff;
	width:90%;		
}
#footer_section .footercredit a{
	font-weight:bold;
	color:#C6C5C4;
}
.footerp .seach_section {
	float:left;
	width:100%;
	background:none !important;
}






/* ==================================================================
    Secure and Accessible PHP Contact Form v.2.0WP FIXED width
    ACCESSITES.CSS made by Mike Cherim - http://green-beast.com 
   Designed and built to work with the Accessites WordPress theme
================================================================== */

#gb_form_div { 
  text-align : left;
  width : 100%;
  font-family:Verdana, Geneva, sans-serif;
}

#gb_form_div p {
  margin-left : 12px;
}

#gb_form {
  text-align : left;
  background : transparent;
}

#gb_form_div a {
  text-decoration : underline;
}

#gb_form_div a:hover, #gb_form_div a:focus, #gb_form_div a:active {
  text-decoration : none;
}

fieldset { 
  border : 0;
  margin-top : 10px;
}

#gb_form legend, legend, #gb_form dt { 
  font-weight : bold; 
}

#gb_form legend {
  padding-top : 5px;
}

* html #gb_form legend {
  padding:0 0 10px 0;
}

#gb_form legend#mainlegend { 
  padding-top : 5px;
  padding-bottom : 10px;
  background:url(images/dotted_grey.gif) repeat-x bottom;
  width:100%;
}

* html #gb_form legend#mainlegend {
  margin-left : -5px;
}

#gb_form legend#mainlegend small { 
  font-size : 11px; 
  text-transform : uppercase;
}

#gb_form_div .formhead small a {
  font-size : 11px; 
  background-image : none;
  display : inline;
  padding : 0;
  margin : 0;
}

#gb_form_div .main_formhead, #gb_form_div .formhead {
  font-size : 12px; 
  color : #4c4c4c;
  width : 97%;
}

#gb_form_div .main_formhead {
  margin-left : -35px;
  text-indent: -9999px;
}

#gb_form_div label { 
  margin-top : 5px;
  margin-left : 20px;
  font-size:11px;
}

#gb_form_div input.short, #gb_form_div input.med, #gb_form_div select.med, #gb_form_div textarea.textbox, #gb_form_div textarea { 
  padding : 3px; 
  border : 5px solid #383838;
  background-color : #f3f3f3;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
  width : 60%;
  height : auto;
  margin:0 0 5px 20px;
}

#gb_form_div input.short {
  width : 7%;
}

#gb_form_div textarea.textbox, #gb_form_div textarea { 
  width : 80%;
  height : 220px;
  line-height : 1.5em;
}

#gb_form_div select.med {
  width : 60%;
}

#gb_form_div input.checkbox {
  cursor : default;
  background : transparent;
  border : 0;
  padding : 0; 
  margin : 0;
  width : 14px;
  height : 14px;
}

#gb_form_div input.button {
	background:#000;
	height:35px;
	border:0;
	border-right:1px solid #000;
	font:16px/35px Georgia, "Times New Roman", Times, serif;
	padding:0;
	color:#fff;
	padding:0 15px;
	cursor:pointer;
	clear:both;
	margin: 10px 0 0 20px;
}

#content #gb_form input.button {
  margin : 15px 5px 25px 20px;
  padding : 2px 15px 2px 15px;
}

* html #content #gb_form input.button {
  margin-left : -5px;
}

#gb_form_div span.error, #gb_form_div span.success, #gb_form_div dt { 
  font-weight : bold; 
}

#gb_form_div dt small, #gb_form_div .formhead span.success, span.success, dl#result_dl_blockq dt {
}

#gb_form_div small.whythis a { 
  font-size : 11px; 
  text-decoration : none;
}
#gb_form_div small.whythis a span{ 
  text-decoration : none;
  background:#000;
  color : #f5f5f5;
}
#gb_form_div small.whythis a:hover span{ 
  background:#000;
  border:1px solid #fff;
}

#gb_form_div p.creditline small {
  clear : both; 
  display : block;
  text-align : right;
  margin : 0;
  padding : 25px 0 15px 0;
  font-size : 11px; 
  letter-spacing : .0001em;
}

dl#result_dl_blockq blockquote {
  margin-left : 0;
}

dl#result_dl_blockq blockquote p cite {
  display : block;
  text-align : right;
}

#gb_form_div span.items {
  font-weight : bold;
  color : #339999;
}

#gb_form_div ul {
  margin : 10px 10px 20px 10px;
}

#gb_form_div ul li {
  list-style-type : none;
  margin : 0 10px 0 20px;
}

.wpcf7-text {
	border: 5px solid #383838 !important;	
}
.wpcf7-quiz {
	border: 5px solid #383838 !important;	
}
.wpcf7-textarea {
	border: 5px solid #383838 !important;	
}
.wpcf7-file{
	border: 5px solid #383838 !important;	
}
.wpcf7-submit {
	background:#000;
	height:26px;
	border:0;
	font:13px Georgia, "Times New Roman", Times, serif;
	color:#fff;
	padding:1px 15px 5px 15px;
	cursor:pointer;
}



#featured_section_wilto {
	width:100%;
	background:#000 url(images/kawfee/featured_slider_nav_bg.png) repeat;	
	padding:9% 0;
	position:relative;	
	
}

/* Mag Lite starts here */




.mag_two_post_title{
	float:left;
	width:100%;
	padding:5px 0;		
	overflow:auto;
	border-bottom: 1px solid #D8D7D7;	

}
.mag_two_post_title h2 {
}
.mag_two_post_title h2 a{
	color:#000;
}
.mag_two_post_ratings{
	float:left;
	width:100%;
	border-bottom: 1px solid #D8D7D7;	
	padding:2px 0;	
}
.mag_two_post_thumb {
	float:left;
	width:100%;
	height:135px;
	border:0px solid #DBDADA;
	margin:10px 0 0 0;
	background:#D4D7D1;
}
.mag_two_post_excerpt {
	float:left;
	padding:0;
	padding:10px 0 0 0;
	width:100%;
}
.mag_two_post_excerpt img{
	float:left;
	max-width:100%;
	margin:0 0 10px 0;
}

/* Mag Lite ends here */

/* Mag starts here */


.mag_post {
	width:94.594594594594594595%;
	margin:0 0 20px 2.7027027027027027027%;
	overflow:auto;
		
}
.mag_post_title{
	float:left;
	width:100%;
	overflow:auto;
	border-bottom: 1px solid #DBDADA;		
}
.mag_post_title h2 {
	padding:5px 0;		
}
.mag_post_title h2 a{
	color:#000;
}
.mag_post_ratings{
	float:left;
	width:100%;
	border-bottom: 1px solid #DBDADA;	
	padding:5px 0;	
}
.mag_post_ratings_normal{
	float:left;
	width:555px;
	height:22px;
	border-top: 1px solid #DBDADA;		
}
.mag_post_thumb {
	float:left;
	width:40%;
	border:1px solid #DBDADA;
	margin:10px 0 0 0;
	background:#D4D7D1;
}
.mag_post_excerpt {
	float:left;
	padding:10px 0 0 0;
	overflow:auto;
	width:100%
}
.mag_post_excerpt img{
	max-width:100%;
}

/* Mag ends here */

/* pro */


#mag_heading {
	margin:10px 0 0 10px;
	width:260px;
	margin:0;
	padding:0;
	float:left;
}
#mag_heading p{
	margin:10px 0 0 10px;
	padding:0;
	float:left;
	font:24px/24px 'PTSansItalic'; Georgia, "Times New Roman", Times, serif; 	
	color:#000;
}
.mag_left_individual_post {
	width:260px;
	margin:0 0 10px 5px;
	padding:0;
	float:left;
	
}
.titlemag{	
	width:250px;
	margin:0 5px 0 5px;
	padding:0;	
}
.titlemag h2{
	font:24px/24px 'PTSansItalic'; Georgia, "Times New Roman", Times, serif; 
	width:250px;
	margin:0;
	padding:0 0 7px 0;
	border-bottom:1px solid #DBDADA;
	color:#000;	
}
.titlemag h2 a{
	color:#000;
}
.metadatamag{
	font-size:13px;
	color:#000;
	width:250px;
	margin:0 5px 0 5px;
	padding:0;
	border-bottom:1px solid #DBDADA;
}
.mag_featured_image{
	padding:0;
	margin:10px 5px;
}
.mag_featured_image img{
	border:0;
	padding:0;
}
.excerpt_mag{
	font-size:13px;
	color:#000;
	width:250px;
	margin:5px 5px;
	padding:0 0 5px 0;
	
}
.readmore_mag{
	margin:5px 15px;
	padding:0 0 5px 0;
}




/* Pro Sidebar starts here */


#feed_social {
	width:100%;
	background:#F6F6F6;
	overflow:auto;	
	margin:0 0 20px 0;
	padding:20px 0;
}
.wrtext p a {
	color:#FFF;
}
.wrtext p {
	color:#FFF;
}
.wrsubtexth2 h2 a{
	color:#ffffff;
}
#sidebar_ads_container {
	width:100%;
	background:#F6F6F6;	
	overflow:auto;	
	padding:20px 0 0 0;
	margin:0 0 20px 0;
}
	ul.dropdown li.hover,
	ul.dropdown li:hover,
	ul.dropdown li.on {
	 background-color: #000;
	}


	ul.dropdown li ul li {
	 background-color: #000;
	}

	ul.dropdown li ul li.hover,
	ul.dropdown li ul li:hover,
	ul.dropdown li ul li.on {
	 background-color: #000;
	}
.mag_post_excerpt_more{
	color:#000;
	background:rgba(0,0,0,0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px 25px;
	text-decoration:none;
	display:inline-block;
}
.mag_post_excerpt_more a{
	color:#000;	
}
.mag_post_excerpt_p p {
	margin:0 0 10px 0;
}
.mag_two_post_excerpt_p p {
	margin:0 0 10px 0;
}	